<div class="block" id="text">
  <div class="context">
    <h2>Home</h2>
    <div class="inner">
      <p>first Please use the navigation bar above to move around the site.</p>
    </div>
  </div>
</div>